<div class="user_beer_edit_view">
  
  <h2><%= @beer.name %></h2>
    <div class="ub_edit_image">
      <img class="beer_edit_image" img src="<%=@beer.image_url%>" >
    </div>

  <%= form_for @user_beer do |f| %>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= hidden_field_tag(:beer_id, @user_beer.beer_id) %>

    <div class="user_beer_info">
      <div class="star-rating">
        <p>Rating:</p>
        <%= f.radio_button :rating, 5 %>
        <%= f.label :rating, value: 5 do  %>
        <i class="fa fa-star fa-3x"></i>
        <% end %>
        <%= f.radio_button :rating, 4 %>
        <%= f.label :rating, value: 4 do  %>
        <i class="fa fa-star fa-3x"></i>
        <% end %>
        <%= f.radio_button :rating, 3 %>
        <%= f.label :rating, value: 3 do  %>
        <i class="fa fa-star fa-3x"></i>
        <% end %>
        <%= f.radio_button :rating, 2 %>
        <%= f.label :rating, value: 2 do  %>
        <i class="fa fa-star fa-3x"></i>
        <% end %>
        <%= f.radio_button :rating, 1 %>
        <%= f.label :rating, value: 1 do  %>
          <i class="fa fa-star fa-3x"></i>
        <% end %>
      </div>

      <div class="user_beer_note">
        <%= f.label :note %>
        <%= f.text_area :note %>
      </div>
      <div>
        <%= submit_tag("Update in 'My List'", class: 'btn btn-default btn-primary' ) %>
      </div>
    </div>

  <% end %>

</div>
