<%= search_form_for @q do |f| %>

  <%= f.label :name_cont, "Search" %>
  <%= f.search_field :name_cont, id:"search-field-ub" %>

  <%= f.submit 'Submit', :class => 'btn btn-default btn-primary smaller' %>
<% end %>

<div class="recent_beer all-list">

  <h2>
    My Beers
  </h2>

  <div id="search-beers-ub">
    <%= render 'user_beer' %>
  </div>


</div>
