<div id="map">
<script>
  function initMap() {
    var uluru = {lat: <%= @bar.latitude  %>, lng: <%= @bar.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
</div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS_API"]%>&callback=initMap">
</script>
<div class="bar">
  <h2> <%= @bar.name %> </h2>
  <h4>Address: <%= @bar.address %></h4>
</div>
