<div class="user_profile">
  <div class="recent_partial_header">

    <h2>
      Most Recent Beers
    </h2>

    <h3 id="recent_beer_notification">
      <%= link_to "View My Beers List", user_beers_path, class: "btn btn-default btn-primary" %>
    </h3>
  </div>

  <% @user_recent_4.each do |ub| %>
  <div class="beer_consumed recent_beer_list">
      <div class="user_recent_beer_img">
        <img src="<%= ub.beer.image_url %>" class="beer_img"></br>
      </div>

      <div class="recent_beer_info ">
          <h2><%= ub.beer.name %></h3>

          <h3><%= ub.beer.category.category_type %></h3>

          <h3><span class="star-rating-user-beers">
<%= ub.rating %></h3>

        <a href="/user_beers/<%=ub.id%>/edit">
          EDIT MY BEER
        </a>

      </p>
      </div>
  </div>
  <% end %>


</div>
