<%= render 'trophy' %>
<%= render 'random' %>
<%= render 'preferences' %>
<%= render 'suggestions' %>


<div class="">
  <h2>Most Recent Beers</h2>
  <% @user_recent_4.each do |ub| %>
  <p><%= ub.beer.name %></p>
  <p><%= ub.beer.category.category_type %></p>
  <p><%= ub.beer.varietal %></p>
  <img src="<%= ub.beer.image_thumb_url %>"></br>
  <% end %>
</div>
