<div class="trophy">
<%= render 'trophy' %>
</div>

<div class="random">
<%= render 'random' %>
</div>

<div class="preferences">
<%= render 'preferences' %>
</div>

<div class="suggestions">
<%= render 'suggestions' %>
</div>

<div class="recent_beer">
<%= render 'recent' %>
</div>
