<div class="form">
<%= form_for [@beer, @user_beer] do |f|%>

  <div>
    <%= hidden_field_tag(:user_id, current_user.id) %>
  </div>

  <div>
    <%= hidden_field_tag(:beer_id, @beer.id) %>
  </div>

  <div class="star-rating">
    <%= f.radio_button :rating, 5 %>
    <%= f.label :rating, value: 5 do  %>
    <i class="fa fa-star"></i>
    <% end %>
    <%= f.radio_button :rating, 4 %>
    <%= f.label :rating, value: 4 do  %>
    <i class="fa fa-star"></i>
    <% end %>
    <%= f.radio_button :rating, 3 %>
    <%= f.label :rating, value: 3 do  %>
    <i class="fa fa-star"></i>
    <% end %>
    <%= f.radio_button :rating, 2 %>
    <%= f.label :rating, value: 2 do  %>
    <i class="fa fa-star"></i>
    <% end %>
    <%= f.radio_button :rating, 1 %>
    <%= f.label :rating, value: 1 do  %>
      <i class="fa fa-star"></i>
    <% end %>
  </div>

  <div class="beer_note">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div>
    <%= submit_tag("Add To 'My List'", class: 'btn btn-default btn-primary' ) %>
  </div>
<% end %>
</div>
