<%= form_tag('/beers') do  %>
  <div class="categories">
      <%= select("beer", "category_id", Category.all.collect {|c| [ c.category_type, c.id ] }, { prompt: "Select a Category" }) %>
  </div>
<% end %>

<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont, id:"search-field" %>

  <%= f.submit %>
<% end %>

<div id="search-beers">
  <%= render @beers %>
</div>

<%= paginate @beers %>
