<%= search_form_for @q do |f| %>


  <%= f.label :category_type, "Categories" %>
  <%= f.collection_select(:category_id, Category.all, :id, :category_type, include_blank: "Pick a Category") %>

  <div id="beer_search_field">
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont, id:"search-field" %>

  <%= f.submit 'Submit', :class => 'btn btn-default btn-primary smaller'  %>
  </div>
<% end %>

<div id="search-beers">
  <%= render @beers %>
</div>

<%= paginate @beers %>
