<%= link_to "Back to Beers", beers_path %>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
<h1><%= @beer.name %></h1>
<img src="<%= @beer.image_thumb_url %>" alt="<%= @beer.name %> Photo">
<p>You can find this at:</p>
<% @bars.each do |bar| %>
  <%= link_to "#{bar.name}", bar_path("#{bar.id}") %></br>
<% end %>
<%= render 'form' %>
